# Eclipse
.project
.classpath
.settings/
# Build
/bin/
/target/
/build/
/out/
# OS/IDE etc.
.DS_Store
Thumbs.db
.idea/
*.iml
.vscode/
# Logs & misc
*.log
*.tmp
# Java/Maven/Gradle
.mvn/wrapper/maven-wrapper.jar
